pre.set {
  font-size: 80%;
}

.syntax .n,
.syntax .nv {
  font-style: italic;
}

.mute,
.deprecated,
.deprecated a,
.deprecated code {
  color: #9D937D;
}

.deprecated a:visited,
.deprecated a {
    border-bottom-color: #9D937D;
}

emu-const {
    font-family: sans-serif;
}

emu-val {
    font-weight: bold;
}

emu-nt {
    font-family: sans-serif;
    font-style: italic;
    white-space: nowrap;
}

emu-t {
    font-family: Menlo, Consolas, "DejaVu Sans Mono", Monaco, monospace;
    font-weight: bold;
    white-space: nowrap;
}

emu-t.regex {
    font-family: sans-serif;
    font-weight: bold;
}

emu-t a[href],
emu-nt a[href] {
    color: inherit;
    border-bottom: 1px solid transparent;
}

emu-t a[href]:focus,
emu-nt a[href]:focus,
emu-t a[href]:hover,
emu-nt a[href]:hover {
    background: #f8f8f8;
    background: rgba(75%, 75%, 75%, .25);
    border-bottom: 3px solid #707070;
    margin-bottom: -2px;
}

/* start bug fix, see: https://github.com/tobie/webidl/issues/24 */
pre.grammar {
    padding-bottom: 1px
}
/* end bug fix */

dt p {
    display: inline;
}

#distinguishable-table {
  font-size: 80%;
  border-collapse: collapse;
  width: auto;
}

#distinguishable-table th {
  text-align: right;
}

#distinguishable-table thead th {
  white-space: nowrap;
  text-align: left;
  border: none;
  height: 100px;
  padding: 0;
}

#distinguishable-table .belowdiagonal {
  background: #ddd;
}

#distinguishable-table td {
  text-align: center;
  padding: 5px 10px;
  width: 30px;
  min-width: 30px;
  padding: 10px 5px;
  height: 19px
}

/* Firefox needs the extra DIV for some reason, otherwise the text disappears if you rotate */
#distinguishable-table tr:first-child th div {
  transform: translate(26px, 31px) rotate(315deg);
  width: 30px;
}

#distinguishable-table thead th div span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  display: block;
  min-width: 120px;
  text-align: left
}

#distinguishable-table thead th:last-child div span {
  border-bottom: none;
}